.hero-section {
  background-color: #f5f9ff;
  padding-top: 100px;
  padding-bottom: 100px;
}
section.hero-section.text-center.serviceBnr {
  min-height: 550px;
}
.resulted-section .card-inner {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.07);
  padding: 30px 30px;
  position: relative;
  padding-bottom: 60px;
  transition: transform 0.3s ease;
}
.resulted-section .card-inner:hover {
  transform: translateY(-5px);
}
.resulted-section .card-inner .imgwrp {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background: #d7feea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20px, -50px);
}

.resulted-section .card-inner .imgwrp img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  aspect-ratio: 60.86/61.19;
}

.resulted-section .card-inner .title {
  padding-top: 50px;
}

.resulted-section .card-inner .title h5 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #292669;
  margin-bottom: 15px;
}
.resulted-section .card-ignner .des p {
  letter-spacing: -0.21px;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: #303036;
}
.resulted-section .card-inner ul {
  padding-left: 20px;
}
.resulted-section .card-inner ul li {
  letter-spacing: -0.16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
}
.resulted-section .card-inner ul li::marker {
  color: #01acf1;
}
.resulted-section .card-inner .btn-wrp {
  margin-top: 30px;
}
.faq-section {
  background: #18171b;
  color: #ffffff;
  padding: 100px 0px;
}
.faq-section .accordion-button {
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  box-shadow: none;
  padding: 1rem;
}
.faq-section .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #ffffff;
}
.faq-section .accordion-body {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.16px;
  margin-bottom: 40px;
  padding: 0;
}
.faq-section .topinner {
  max-width: 800px;
  margin: 0 auto;
}
.faq-section .topinner h2 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
.faq-section .accordion-item {
  background: #18171b;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.36);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.faq-section .accordion-item button.accordion-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  padding: 30px 0px;
}
.faq-section .accordion-item button.accordion-button span.faq-toggle-icon {
  position: absolute;
  right: 14px;
}
.faq-section .accordion-item button.accordion-button span.faq-toggle-icon svg {
  width: 20px;
}
.faq-section .accordion-item button::after {
  opacity: 0;
}
.faq-section .accordion-item.active span.faq-toggle-icon {
  transform: rotate(180deg);
}
section.contact-section-new {
    padding-top: 130px;
    padding-bottom: 50px;
}
section.contact-section-new .contact-info {
    margin-top: 50px;
}
section.contact-section-new  .form-main {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 29.1px 0px rgba(0, 0, 0, 0.17);
    padding: 53px 60px;
}
input.cm-input,
textarea.cm-input {
    border: 0;
    border-bottom: 2px solid;
    display: inline-block;
    width: 100%;
    min-height: 50px;
}
input.cm-input:focus,
textarea.cm-input:focus {
  outline: 0;
}

form .col-12.btnform button {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}


@media(max-width:991px){
  section.contact-section-new {
    padding-top: 50px;
}
}
@media (max-width: 767px) {
  section.hero-section.text-center.serviceBnr {
    padding-bottom: 300px;
  }

  section.hero-section.text-center.serviceBnr h2 {
    font-size: 24px;
  }
  section.hero-section.text-center.serviceBnr p.des {
    font-size: 14px;
  }
  section.faq-section {
    padding: 50px 0px;
  }

  .faq-section .topinner h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  .general-service-page .hero-section {
    padding-top: 60px;
    padding-bottom: 250px !important;
  }
  .resulted-section .row {
    gap: 40px !important;
  }
  .faq-section .accordion-item button.accordion-button span.faq-toggle-icon {
    right: 0;
    top: 30px;
  }
  .faq-section .accordion-item button.accordion-button {
    font-size: 16px;
    padding: 15px 0;
  }
  .faq-section .topinner h2 {
    font-size: 24px;
  }
  section.hero-section.text-center.serviceBnr {
    min-height: 500px;
  }
  .resulted-section .card-inner .imgwrp {
    transform: translate(20px, -40px);
    width: 80px;
    height: 80px;
  }
  .resulted-section .card-inner .title {
    padding-top: 30px;
  }
  .resulted-section .card-inner {
    padding-bottom: 30px;
  }
  .resulted-section .card-inner .imgwrp img {
    width: 40px;
    height: 40px;
  }
  .faq-section .accordion-item button.accordion-button span.faq-toggle-icon {
    top: 20px;
  }
  .faq-section .accordion-item:last-child {
    border: 0;
  }
  section.faq-section {
    padding-bottom: 30px;
  }
  body {
    font-size: 14px;
  }
  .faq-section .accordion-body {
    font-size: 14px;
  }
  section.contact-section-new {
    padding-top: 25px;
    padding-bottom: 25px;
}

section.contact-section-new h2 {
    font-size: 30px;
}

section.contact-section-new .form-main {
    padding: 25px;
}

section.contact-section-new .form-main h4 {
    font-size: 21px;
}

form .col-12.btnform button {
    padding: 12px;
    font-size: 15px;
}
}
