body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #303036;
}

a {
  color: #242427;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #01acf1;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-btn {
  background-color: #01acf1;
  border-radius: 50px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  border-color: #01acf1;
}

.primary-btn:hover {
  border-color: #01acf1;
  background: #ffffff;
  color: #01acf1;
}

.header__main {
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #e3e3e5;
  background: #ffffff;
}

header .logo img {
  max-width: 137px;
}

.contact-section .mail-section span {
  display: block;
  font-size: 15px;
  padding-bottom: 2px;
  font-weight: 600;
}
.contact-section .mail-section a {
  font-size: 15px;
}

.contact-section > div {
  padding: 0 30px;
}

.contact-section .mail-section {
  padding-left: 0;
}

.contact-section > div:last-child {
  padding: 0 0 0 30px;
  border-left: 1px solid #e3e3e5;
}

.menu_section > nav > ul > li > a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.menu_section > nav > ul > li > a i {
  color: #79747e;
  font-size: 14px;
  transition: all 0.3s;
}

.menu_section > nav > ul > li {
  padding: 0 17px 0 0px;
}

.menu_section > nav > ul > li:last-child {
  padding: 0;
}

.menu_section > nav > ul > li > a:hover i {
  color: #01acf1;
}

.hero_section {
  position: relative;
  overflow: hidden;
  background-size: 50%;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: #f8faff;
}
.hero_section .row {
  min-height: 700px;
}
.hero_section h1 {
  color: #292669;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero_section .btn-section {
  margin-top: 36px;
}
.hero_section .media-section {
  position: relative;
}
.hero_section .media-section .img {
  min-height: 1px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.branding__section {
  padding: 100px 0;
}
.branding__section .items img {
  max-width: 150px;
}
.branding__section .items {
  text-align: center;
}
.branding__section .items .cloud-img {
  max-width: 118px;
}
.branding__section .items .aws-img {
  max-width: 86px;
}
.branding__section .items .wp-img {
  max-width: 130px;
}

.core_service__section .service-item .service-inner {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  height: 100%;
}
.core_service__section .service-item .service-inner p {
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 25px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  z-index: 9;
}
.core_service__section .service-item .service-inner:after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.86) 87.02%
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.core_service__section .service-item .service-inner:hover img {
  transform: scale(1.05);
}
.core_service__section .service-item .service-inner img {
  min-height: 440px;
  object-fit: cover;
  transition: all 0.5s;
  transform-origin: center;
  transform: scale(1);
  object-position: center;
}
.core_service__section {
  overflow: hidden;
  padding-bottom: 100px;
}
.core_service__section .cntnt-section {
  padding-left: 16%;
}
.core_service__section .swiper-wrapper {
  display: flex;
}
.core_service__section .swiper-wrapper .service-item {
  height: auto;
}

.solution-section {
  padding-bottom: 100px;
}
.solution-section .solution-bg {
  border-radius: 20px;
  padding: 100px 68px;
  color: #fff;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: -100% 0%;
}
.solution-section .solution-bg h3 {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 26px;
}
.solution-section .solution-bg p {
  max-width: 400px;
  font-weight: 300;
}
.solution-section .list-items:not(:last-child) {
  margin-bottom: 40px;
}
.solution-section .list-items p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.solution-section .list-items span {
  font-size: 14px;
  display: block;
  font-weight: 300;
}
.solution-section .solution-list {
  padding-left: 100px;
}

.technology__section {
  padding-bottom: 100px;
}
.technology__section .technology-item .inner {
  padding: 40px 40px;
  box-shadow: 4px 4px 14px 0px #00000010;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
}
.technology__section .technology-item .inner:hover {
  box-shadow: 10px 10px 14px 0px #00000050;
  transform: translate(0, -5px);
}
.technology__section .technology-item .inner p {
  margin: auto 0 0 0;
  font-weight: 500;
}
.technology__section .technology-item .inner .logo {
  margin-bottom: 13px;
}
.technology__section .technology-item {
  margin-bottom: 20px;
}

.approach-section {
  background: #000000;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.approach-section .btn-section {
  padding-top: 500px;
  position: relative;
  z-index: 9;
}
.approach-section h3 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 40px;
}
.approach-section p {
  color: #fff;
  margin: 0;
}
.approach-section a.btn.primary-btn:hover {
  background: transparent;
}
.approach-section .human-hand {
  transform: scale(-1, 1);
}
.approach-section .human-hand {
  transform: scale(-1, 1);
  max-width: 1027px;
  position: absolute;
  left: -700px;
  bottom: -400px;
  transition: all 4s;
}
.approach-section .robot-hand {
  transform: scale(-1, 1) rotate(20deg);
  position: absolute;
  max-width: 900px;
  right: -800px;
  top: -220px;
  transition: all 4s;
}
.approach-section.animate-active .human-hand {
  left: 0;
  bottom: 60px;
}
.approach-section.animate-active .robot-hand {
  right: -37px;
  top: 80px;
}

.how-we-work h2 {
  font-weight: 700;
  margin-bottom: 15px;
}

.how-we-work p {
  color: #555;
}

.how-we-work .icon-box {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.how-we-work .icon-box img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.how-we-work .icon-box h5 {
  margin: 0 0 5px;
  font-weight: 600;
}

.how-we-work .icon-box p {
  margin: 0;
  color: #666;
}

.how-we-work {
  padding-top: 100px;
  padding-bottom: 100px;
}
.how-we-work h2.title {
  color: #303036;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.how-we-work p.top-des {
  letter-spacing: -0.24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  color: #303036;
}

.how-we-work .icon-box .item h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #303036;
}

.how-we-work .icon-box .item p {
  letter-spacing: -0.16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #303036;
}

.how-we-work .imgbox .imgInner {
  padding-left: 50px;
}

.blog-section {
  background-color: #f8faff;
  padding-top: 86px;
  padding-bottom: 102px;
}

.blog-section h2 {
  color: #303036;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.blog-card {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image img {
  width: 100%;
  object-fit: cover;
  min-height: 320px;
}

.card-body {
  padding: 50px 30px;
}

.blog-date {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #000;
}

.blog-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #303036;
}

.blog-desc {
  color: #303036;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  letter-spacing: -0.16px;
}

.blog-readmore a {
  color: #01acf1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 212.5% */
  text-transform: capitalize;
}

.blog-readmore a:hover {
  text-decoration: underline;
}

footer {
  background: #111827;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer .col-inner {
  padding: 0px 16px;
}

footer .col-inner h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fff;
}

footer .col-inner p {
  color: #fff;
}

footer .col-inner ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .col-inner ul li a {
  color: #d1d5db;
}

footer .col-inner ul li:not(:first-child) {
  margin-top: 8px;
}
footer .social-follow li a svg {
  height: 24px;
  width: 24px;
}
footer .social-follow li {
  margin: 0 !important;
}
.hamburger-trigger {
  display: none;
}
.hamburger-trigger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -40px;
}

.hamburger-trigger span {
  display: block;
  height: 2.2px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* When active (cross) */
.hamburger-trigger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-trigger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-trigger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}
@media(max-wdith:1300px){
  .menu_section > nav > ul > li {
    padding: 0 0px 0 0px;
}
nav ul.gap-4 {
    gap: 10px !important;
}
.contact-section .mail-section span {
    text-align: right;
    font-size: 12px;
}
.contact-section .mail-section a {
    font-size: 12px;
}
.menu_section > nav > ul > li > a {
    font-size: 12px;
}
.contact-section > div:last-child {
    padding: 0 0 0 10px;
}
.contact-section a.btn.primary-btn {
    font-size: 12px;
}

}
@media (max-width: 991px) {
  .menu_section nav {
   position: absolute;
  left: 0;
  top: 13px;
  width: 100%;
  background-color: #f8faff;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  z-index: 99;
  }
  .menu_section nav.open {
    display: block;
    overflow: visible;
    max-height: 500px;
}
  .menu_section {
    position: relative;
  }
  .menu_section nav ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 20px;
    padding-bottom: 20px;

  }
  .menu_section nav ul li {
    width: 100%;
  }
  .header__main .container .contact-section {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .how-we-work {
    text-align: center;
  }

  .how-we-work .icon-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .how-we-work .icon-box h5,
  .how-we-work .icon-box p {
    text-align: center;
  }
  .hamburger-trigger{
    right: 20px;
  }
}
